{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    {% include '@SonataTwig/FlashMessage/render.html.twig' %}


    <div class="col-md-6">

        <div id="cms-block-64d1b72bd8cda3.14442871" class="cms-block cms-block-element">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Comandos útiles
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Borrar cache de Symfony</h4>
                                <br/>
                                <p>
                                    <a href="{{ path('admin_command_clear_cache', {'type' : 'prod'} ) }}" class="btn btn-primary" role="button">Producción</a>
                                    <a href="{{ path('admin_command_clear_cache', {'type' : 'dev'}) }}" class="btn btn-default" role="button">Desarrollo</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Actualizar tablas de la base de datos</h4>
                                <br/>
                                <p>
                                    <a href="{{ path('admin_command_schema_update') }}" class="btn btn-primary" role="button">Actualizar</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Regenerar entidades</h4>
                                <br/>
                                <p>
                                    <a href="{{ path('admin_command_entity_regenerates') }}" class="btn btn-primary" role="button">Regenerar</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Instalar assets de bundles de terceros</h4>
                                <br/>
                                <p>
                                    <a href="{{ path('admin_command_assets_install') }}" class="btn btn-primary" role="button">Instalar</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Iniciar bus de mensajes</h4>
                                <br/>
                                <p>
                                    <a href="{{ path('run_messenger') }}" class="btn btn-primary" role="button">Ejecutar</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}