/*
 * ************************************************************************
 *  * Nombre del Archivo: app.css
 *  * Autor: Mario Figueroa [mfigueroa@tmwk.cl]
 *  * Fecha de Creación: 4/8/23 19:31
 *  ***********************************************************************
 *  * Copyright (c) 2023 Mario Figueroa
 *  * Queda prohibida la distribución y uso no autorizado de este archivo.
 *  * Para obtener más detalles, consulta el archivo LICENSE.md
 *  ***********************************************************************
 */

.logo img{
    max-width: 100%;
}

.login-logo img{
    width: 100% !important;
}

.sonata-ba-list-field-header-batch{
    width: 10px !important;
}

.sonata-ba-list-field-actions{
    width: 1%;

}
.sonata-ba-list-field-actions .btn-group{
    white-space: nowrap !important;
    display: flex;
}
#commands_buttons div{
    padding: 10px 5px;
}

